* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #ffbd00;
  --color2: #ff5400;
  --color3: #ff0054;
  --color4: #9e0059;
  --color5: #390099;
}

html {
  font-size: calc(10px + 1vmin);
}

main{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  display: grid;
  width: 800px;
  gap: 0.7rem;
  height: 500px;
  margin-top: 100px;

  align-content: center;
  justify-content: center;

  background-color: #e1e7ec;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(4,1fr);

  grid-template-areas: 
  " first first first first first"
  "second second second second third"
  "second second second second third"
  "fourth fourth fourth fourth fourth";
  /* grid-auto-rows: 1fr; */
  }
  .item{
    font-size: 20px;
  padding: 1rem;
background-color: #ff5400;
}

.container :nth-child(1){
/* grid-row: span 2;
grid-column: span 4;*/
background-color: #6837bd;
/* grid-area: 1/1/2/5; */
grid-area: first;
} 
.container :nth-child(2){
background-color: #d43e70;
grid-area: second;
}

.container :nth-child(3){
grid-area: third;
background-color: #ffbd00;
}

.container :nth-child(4){
grid-area: fourth;
background-color: aquamarine;
}
/* .child-wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr);
border: 1px solid black;
}

.child-wrapper .child{
background-color: #ffbd00;
}
 */
